.cover {
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 12px;
}

@media screen and (max-width:1024px) {
    .cover {
        margin: 14px -48px 0;
    }
}

@media screen and (max-width:768px) {
    .cover {
        margin: 18px -24px 0;
    }
}

@media screen and (max-width:595px) {
    .cover {
        margin: 0px -15px 0;
    }
}