.header__lang-links {
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 3px;
    box-sizing: border-box;
}

@media screen and (max-width:595px) {
    .header__lang-links {
        height: 40px;
    }
}