.intro__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
    margin: 0 0 40px;
}

@media screen and (max-width:595px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }
}